{
    "presets": [
        ["@babel/preset-typescript", {
            "isTSX": true,
            "allExtensions": true
        }]
    ],
    "plugins": [
        ["@babel/plugin-syntax-decorators", {
            "decoratorsBeforeExport": true
        }],
        "./plugin.js"
    ]
}
  